﻿@model Submission
@{
    ViewData["Title"] = "Create Submissions";
}

<h1>Create A New Submission</h1>

<form asp-action="Create" method="post" class="form-horizontal" role="form">

<div class="form-group">
        <label asp-for="SubmissionTitle" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="SubmissionTitle" class="form-control" />
            <span asp-validation-for="SubmissionTitle" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Create Submission" />
        </div>
    </div>

</form>
    
