﻿@model SubmissionViewModel
@{
    ViewData["Title"] = "View Submissions";
}

<h1>Submissions</h1>

@foreach (var submission in Model.Submissions) {

   <p>@submission.SubmissionId - @submission.SubmissionTitle</p>

}


